<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!--flags-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
    <!-- My CSS -->
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <style>


    </style>
</head>
<body>
<button class="trigger">Click here to trigger the modal!</button>
<div class='modal show-modal'>
    <div class='modal-content'>
        <div class="table-data">
            <div class="table">
                <div class="head">
                    <h3>Commandes</h3>
                    <form action="{{form_action}}" method="{{form_method}}">
                        <div class="form-input">
                            <input name="table" type="hidden" value="{{table_query}}">
                            <input name="search" type="search" placeholder="Search..." value="">
                            <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
                        </div>
                    </form>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Numéro de commande</th>
                        <th>Date de commande</th>
                        <th>Client</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2022-10-12</td>
                            <td>Youssef AMAZZAL</td>
                            <td>Produit 1<br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>